WORKER_ID=lan-a
BACKEND_URL=http://127.0.0.1:8000

GT7_TARGETS=
GT7_SCAN_CIDRS=192.168.1.0/24
GT7_SCAN_RANGES=
GT7_ALLOW_ANY_SOURCE=true

GT7_HEARTBEAT_TYPE=A
GT7_HEARTBEAT_INTERVAL=1.0
GT7_RECEIVE_PORT=33740
GT7_SEND_PORT=33739
GT7_POST_MIN_INTERVAL=0.03
GT7_LOG_LEVEL=INFO
